
<html>
  <head>
    <title>Watch Party</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/style.css"></link>
    <script src="/static/script.js"></script>
    <script src="script.js"></script>
  </head>
  <body>

    <div id="auth"> 
      <h2>Welcome to Watch Party!</h2>
      <p>Enter a username</p>
      <input id="username"></input>
      <p>Enter a password</p>
      <input id="password"></input>
      </br>
      <div>
        <button onClick="login();">Log In</button>
        <button onClick="signup();">Sign Up</button>
      </div>
    </div>

    <div id="chat_index" class="container">
      <hero>
        <logo>
          <img id="tv" src="static/tv.jpeg">
          <img id="popcorn" src="static/popcorn.png">
        </logo>
        <h1>Watch Party</h1>
        <button onClick="createChat();" value="create">Create a Chat!</button>
      </hero>
      <div>
        <ol id="chat_list">
        </ol>
      </div>
    </div>
  
    <div id="chat_section">
      <div class="header">
        <h2><a href="/">Watch Party</a></h2>
        <invite>
          <p>Invite users to this chat at:</p>
          <a href="#" id="invite_link" value=>link</a>
        </invite>
      </div>
      <div class="clip">
        <div class="container">
          <div class="chat">
            <div class="comment_box">
              <form>
                <label for="comment">What do you have to say?</label>
                <textarea id="comment"></textarea>
                <button onClick="postMessage();" type="submit" value="Post">Post</button>
              </form>
            </div>
            <div id="messages" class="messages"></div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="script.js"></script>
</html>