<html>
  <head>
    <title>Watch Party</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/style.css"></link>
    <script src="/static/script.js"></script>
  </head>
  <body onLoad="x=setInterval('getMessages()', 500);">

    <div id="auth"> 
      <h2>Welcome to Watch Party!</h2>
      <p>Enter a username</p>
      <input id="username"></input>
      <p>Enter a password</p>
      <input id="password"></input>
      </br>
      <div>
        <button onClick="login();">Log In</button>
        <button onClick="signup();">Sign Up</button>
      </div>
    </div>

    <div id="chat_index" class="container">
      <script>
        console.log(window.localStorage);
        authkey = window.localStorage.getItem('authkey')
        fetch('/chat_list?'+ new URLSearchParams({
          authkey: authkey
          // send authkey to get the username's chats
        }))
        .then(response => response.json())
        .then(data => {
          console.log(data);
          console.log("successful");
          if (Object.keys(data).includes("chats")) {
            const chats = data.chats;
            const chat_index = document.getElementById("chat_index");
            // map each chat
            chats.map((chat) => {
              var listItem = document.createElement("p");
              var text = document.createTextNode("chat id: "+chat);
              listItem.appendChild(text);
              listItem.onclick = function() {
                console.log("clicked!")
                const chat_id = chat;
                document.getElementById("auth").style.display = "none";
                document.getElementById("chat_index").style.display = "none";
                document.getElementById("chat_section").style.display = "block";
                window.history.pushState('', 'Chat '+chat_id, '/chat/'+chat_id);
                getMessages();
              }
              chat_index.appendChild(listItem);
            })
          } else {
            const chat_index = document.getElementById("chat_index");
            var text = document.createTextNode("oops! no chats for this user!");
            chat_index.appendChild(text);
          }
          
        })
      </script>
      <hero>
        <logo>
          <img id="tv" src="static/tv.jpeg">
          <img id="popcorn" src="static/popcorn.png">
        </logo>
        <h1>Watch Party</h1>
        <button onClick="createChat();" value="create">Create a Chat!</button>
      </hero>
      <div>
        <ol id="chat_list">
        </ol>
      </div>
    </div>
  
    <div id="chat_section">
      <div class="header">
        <h2><a href="/">Watch Party</a></h2>
        <invite>
          <p>Invite users to this chat at:</p>
          <a href="#" id="invite_link" value=>link</a>
        </invite>
      </div>
      <div class="clip">
        <div class="container">
          <div class="chat">
            <div class="comment_box">
              <form>
                <label for="comment">What do you have to say?</label>
                <textarea id="comment"></textarea>
                <button onClick="postMessage();" type="submit" value="Post">Post</button>
              </form>
            </div>
            <div id="messages" class="messages"></div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script>
    if (window.location.href.includes("/chat/")) {
      if (Object.keys(window.localStorage).includes("authkey")) {
        document.getElementById("chat_index").style.display = "none";
        document.getElementById("chat_section").style.display = "block";
        document.getElementById("auth").style.display = "none";
      } else {
        document.getElementById("chat_index").style.display = "none";
        document.getElementById("chat_section").style.display = "none";
        document.getElementById("auth").style.display = "block";
      }
    } else if (window.location.href.split("/").length === 4) {
      if (Object.keys(window.localStorage).includes("authkey")) {
        document.getElementById("chat_index").style.display = "block";
        document.getElementById("chat_section").style.display = "none";
        document.getElementById("auth").style.display = "none";
      } else {
        document.getElementById("chat_index").style.display = "none";
        document.getElementById("chat_section").style.display = "none";
        document.getElementById("auth").style.display = "block";
      }
    }
  </script>
</html>